[Unit]
Description=Jboss Application Server
After=network.target

[Service]
Type=idle
Environment=JBOSS_HOME=/usr/local/keycloak/ JBOSS_LOG_DIR=/usr/local/keycloak/standalone/log/ JAVA_HOME=/usr/local/java
User=ec2-user
Group=ec2-user
ExecStart=/usr/local/keycloak/bin/standalone.sh --server-config=standalone-ha.xml -Djboss.node.name={{ node_keycloak_name }} -b 0.0.0.0 -Djgroups.tcpping.initial_hosts={{keycloak.hosts.host_1}}[7600],{{keycloak.hosts.host_2}}[7600] -Djboss.bind.address.private={{ ip_jgroup }}
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
